<?php
/* autor:       Lucy Tatiana Polanco Aya
 * fecha:       06/10/2010
 * objetivo:    
 */
?>

<style type="text/css">
<!--
.Estilo1 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.Estilo3 {font-family: Geneva, Arial, Helvetica, sans-serif}
-->
</style>

<body background="../../imagenes/FondoGeneral.png">
<title>Manual de Ayuda de Empresas</title>
	<span class="Estilo1"> Fecha &uacute;ltima modificaci&oacute;n: <strong>Diciembre 27 de 2011</strong><br />
	<br />
	<strong>Formulario</strong>:&nbsp;empresas.php<br />
	<strong>Men&uacute;</strong>:&nbsp;Nueva Empresa<br />
	<strong>Objetivo:</strong>&nbsp;Almacenar en la base de datos Aportes la informaci&oacute;n de las empresas afiliadas a Comfamiliar Huila.<br />
	</span>

<ul style="margin-left:0; font-family: Geneva, Arial, Helvetica, sans-serif; font-size: 12px;">
  <p align="left"><strong>Elementos del formulario:</strong> </p>
  <li><strong>Nuevo&nbsp;</strong><img src="../../imagenes/menu/nuevo.png" alt="" width="16" height="16" />: 
    Prepara el formulario para registrar la informaci&oacute;n de la nueva empresa.</li>
  <li><strong>Guardar<img src="../../imagenes/menu/grabar.png" alt="" width="16" height="16" />:</strong>Almacena 
    la informaci&oacute;n de manera permanente en la base de datos.</li>
  <li><strong>Imprimir</strong>&nbsp;<img src="../../imagenes/menu/imprimir.png" alt="" width="16" height="16" />: 
    Genera el formulario con todos los registros.</li>
  <li><strong>Limpiar Campos</strong>&nbsp;<img src="../../imagenes/menu/refrescar.png" alt="" width="16" height="16" />: 
    Limpia los campos del formulario.</li>
  <li><strong>Manual</strong>&nbsp;<img src="../../imagenes/menu/informacion.png" alt="" width="20" height="20" />: 
    Muestra toda la informaci&oacute;n relacionada al funcionamiento del aplicativo.</li>
  <li><strong>Notas sobre el Formulario</strong>&nbsp;<img src="../../imagenes/menu/notas.png" alt="" width="16" height="16" />: 
    La persona que ingrese grabe los comentarios acerca de este formulario.</li>
  <li><strong>Campo Obligatorio</strong>&nbsp;<img src="../../imagenes/menu/obligado.png" alt="" width="12" height="12" />: 
    Los campos son obligatorios para llenarlos.</li>
</ul>

<p align="justify" class="Estilo3 Estilo1">&nbsp;</p>
<ul style="margin-left:0; font-size: 12px; font-family: Geneva, Arial, Helvetica, sans-serif;">
<p align="justify"><strong>Campos:</strong></p>
<li><strong>1</strong>. <strong>Radicaci&oacute;n No.:</strong> N&uacute;mero de la Radicaci&oacute;n.</li>  
<li><strong>2.</strong> <strong>Fecha: </strong>Fecha del d&iacute;a que se elabora la radicaci&oacute;n.</li>
  <li><strong>3</strong>. <strong>Sector:</strong> Contiene un listado de los sectores empresariales 
    (Oficial, Privado, Mixto, Voluntario, Facultativo, Pensionados y Fidelidad). 
    Obligado.</li> 
  <li><strong>4.</strong> <strong>Clases de Sociedad: </strong>Contiene el listado de las clases 
    de sociedad (Econom&#237;a Solidaria, Ley 590/2000, Persona Jur&#237;dica y Persona 
    Natural). Obligado.</li> 
  <li><strong>5. NIT:</strong> Presenta el n&uacute;mero de identificaci&oacute;n 
    de la empresa. Obligado.</li>
  <li><strong>6</strong>.<strong> Tipo de Documento: </strong>Contiene el listado de los tipos 
    de identificaci&oacute;n. Obligado.</li>
<li><strong>7</strong>.<strong> Raz&oacute;n Social: </strong>Ingrese el nombre completo de la empresa. Obligado.</li>
  <li><strong>8.</strong> <strong>Nombre Comercial:</strong> Presenta el nombre completo de la 
    empresa. Obligado.</li>
  <li><strong>9</strong>. <strong>Departamento:</strong>Contiene el listado de los Departamentos 
    de Colombia. </li>
  <li><strong>10</strong>. <strong>Ciudad:</strong> Contiene el listado de las ciudades de cada 
    Departamento.</li>
  <li><strong>11</strong>. <strong>Direcci&oacute;n: </strong>Muestra la siguiente ventana:</li>
</ul>
</p>
<p align="center" class="Estilo1"><img src="../../imagenes/help/EMPRESAS/direccion.JPG" width="655" height="455"></p>
<span class="Estilo1">
<!-- fin ayuda en linea -->
</span>
<ul style="margin-left:0; font-size: 12px; font-family: Geneva, Arial, Helvetica, sans-serif;">
<li>1. <strong>Seleccione:</strong> Cuadro de opciones que muestra si la direcci&oacute;n es (Calle, Carrera, Avenida, Transversal y Diagonal).</li>
<li>2. Cuadro donde se digita el n&uacute;mero de la direcci&oacute;n. </li>
<li>3. Cuadro de opciones que muestra las letras que identifican la direcci&oacute;n. Estas van desde la letra (A hasta K). </li>
<li>4. Cuadro que ingresa <strong>BIS </strong>si la direcci&oacute;n la contiene. </li>
<li>5. Cuadro de opciones que muestra las opciones (west y sur). Estas s&oacute;lo se colocan si la direcci&oacute;n la solicita. </li>
<li>6. <strong>N&uacute;mero:</strong> Ingresa el primer n&uacute;mero de la placa de la casa.</li>
<li>7. Cuadro de opciones que muestra las letras que  van desde la letra (A hasta K) y estas se utilizan si la direcci&oacute;n la requiere. </li>
<li>8. Cuadro con opci&oacute;n <strong>BIS: </strong>S&oacute;lo si la direcci&oacute;n la necesita. </li>
<li>9. Cuadro donde se ingresa el segundo n&uacute;mero de la placa de la casa. </li>
<li>10. Cuadro de opciones que muestra las opciones (west y sur). Estas s&oacute;lo se colocan si la direcci&oacute;n la solicita. </li>
<li>11. Los cuadros siguientes s&oacute;lo se ocupan si la direcci&oacute;n que estamos ingresando la solicita. </li>
</ul>
<ul>
<p class="Estilo1">Ejemplo:</p>
</ul>
<ul>
<p align="center" class="Estilo1"><img src="../../imagenes/help/EMPRESAS/datosadicionales.JPG" width="482" height="81"></p>
  <ul style="margin-left:0; font-size: 12px; font-family: Geneva, Arial, Helvetica, sans-serif;">
    <p align="center">&nbsp;</p>
    <li>12. Barra que muestra la direcci&oacute;n que hemos digitado. De forma 
      inactiva.</span></li>
    <p align="center"><img src="../../imagenes/help/EMPRESAS/barradireccion.JPG" width="441" height="22"></p>
    <li>13. <strong>Bot&oacute;n Cancelar:</strong> Se sale de la ventana sin 
      guardar los cambios. </li>
    <li>14. <strong>Bot&oacute;n Crear Direcci&oacute;n:</strong> Guarda toda 
      la informaci&oacute;n que se ha digitado en la ventana de direcciones. </li>
  </ul>
<p>&nbsp;</p>
  <ul>
  <li><strong>12</strong>. <strong>Tel&eacute;fono:</strong> Ingrese el n&uacute;mero telef&oacute;nico de la empresa.</li>
<li><strong>13</strong>. <strong>Fax:</strong> Ingrese el n&uacute;mero de fax. </li>
<li><strong>14</strong>. <strong>URL:</strong> Ingrese el nombre de la p&aacute;gina Web de la empresa. </li>
<li><strong>15</strong>. <strong>EMAIL:</strong> Ingrese el correo electr&oacute;nico de la empresa. </li>
<li>
  <div align="justify"><strong>16.</strong> <strong>C.C Representante Legal:</strong> Digite el n&uacute;mero de identificaci&oacute;n del Representante Legal. Cuando el registro no se encuentra almacenado en la base de datos se despliega la siguiente ventana donde debe digitar los siguientes nombres: </div>
  <div align="center"><img src="../../imagenes/help/EMPRESAS/datosbasicos.JPG" width="654" height="230"></div>
</li>
<li><strong>17</strong>. <strong>Primer Nombre</strong>: Ingrese el primer nombre del Representante Legal. </li>
<li><strong>18.</strong> <strong>Segundo Nombre:</strong> Ingrese el segundo nombre del representante legal. Si no cuenta con este d&eacute;jelo en blanco. </li>
<li><strong>19.</strong> <strong>Primer Apellido:</strong> Ingrese el primer apellido del Representante Legal. </li>
<li><strong>20.</strong> <strong>Segundo Apellido:</strong> Ingrese el segundo apellido del representante legal. Si no cuenta con este d&eacute;jelo en blanco. </li>
<li>
  <div align="justify"><strong>21.</strong> <strong>C.C Jefe de Personal</strong>: Ingrese el n&uacute;mero de identificaci&oacute;n del Jefe de Personal. Cuando el registro no se encuentra almacenado en la base de datos se despliega la siguiente ventana donde debe digitar los siguientes nombres: Cuando el registro no se encuentra almacenado en la base de datos se despliega la siguiente ventana donde debe digitar los siguientes nombres:</div>
</li>
<li>
  <div align="center"><img src="../../imagenes/help/EMPRESAS/datosbasicos.JPG" width="654" height="230"></div>
</li>
<li><strong>22. Primer Nombre:</strong> Ingrese el Primer nombre del jefe de personal. </li>
<li><strong>23</strong>: <strong>Segundo Nombre:</strong> Ingrese el segundo nombre del jefe de personal. Si no cuenta con este d&eacute;jelo en blanco. </li>
<li><strong>24</strong>. <strong>Primer Apellido:</strong> Ingrese el primer apellido del jefe de personal. </li>
<li><strong>25:</strong> <strong>Segundo Apellido:</strong> Ingrese el segundo apellido del jefe de personal. Si no cuenta con este d&eacute;jelo en blanco. </li>
<li><strong>26.</strong> <strong>Contratista:</strong> Si o No. Obligado </li>
<li><strong>27.</strong> <strong>Actividad Econ&#243;mica:</strong> Es la actividad a la que se dedica la empresa. Obligado.</li>
<li><strong>28. C&#243;digo CIIU:</strong> Tiene por objeto satisfacer las necesidades de los que buscan datos clasificados referentes a categor&#237;a comparables internacionalmente de tipos espec&#237;ficos de actividades econ&#243;micas. Obligado.</li>
<li><strong>29. Seccional:</strong>Contiene el listado de las seccionales de 
    Comfamiliar Huila. Obligatorio. </li>
<li><strong>30.</strong> <strong>&Iacute;ndice de Aporte:</strong> Contiene el listado de los 
    porcentajes de aportes de la empresa. Obligado </li>
<li><strong>31. Fecha de Afiliaci&oacute;n:</strong> Presenta la fecha que se 
    realiz&oacute; la afiliaci&oacute;n.</li>
<li><strong>32. Fecha de Constituci&#243;n:</strong> Si la empresa tiene actividad econ&#243;mica comercial, se  debe registrar la fecha de constituci&#243;n de la empresa as&#237;: Para personas  Jur&#237;dicas la fecha que aparece registrada ante la C&#225;mara de Comercio como raz&#243;n  social. En el caso de las personas naturales corresponde a la fecha en que fue  matriculado el establecimiento ante C&#225;mara de Comercio. Obligado.</li>
<li><strong>33.</strong> <strong>Asesor:</strong> Contiene el listado de los asesores. Obligado.</li>
<li><strong>34. Estado:</strong>Activa o Inactiva. Obligatorio </li>
<li><strong>35. Clase Aportante:</strong> Es la empresa o empleador obligados a realizar los pagos de sus empleados al sistema de protecci&#243;n social. 
  <p align="justify"> <strong>Aportante con 200 o m&#225;s cotizantes:</strong> Esta clase de aportante debe ser utilizada si el aportante tiene 200 o m&#225;s cotizantes. Para esto se deben tener en cuenta todos los cotizantes de todas las sucursales o dependencias, si las hubiera.</p>
  <p align="justify"><strong>Aportante con menos de 200 cotizantes:</strong> Esta clase de aportante debe ser utilizada si el aportante tiene menos de 200 cotizantes. Para esto se deben tener en cuenta todos los cotizantes de todas las sucursales o dependencias, si las hubiera.</p>
  <p align="justify"><strong>Aportante Mipyme que se acoge a Ley 590 de 2000:</strong> Esta clase de aportante debe ser utilizada si el aportante tiene menos de 200 cotizantes y pretende beneficiarse de los descuentos en los aportes parafiscales con destino al Servicio Nacional de Aprendizaje, Sena; al Instituto Colombiano de Bienestar Familiar, ICBF, y Cajas de Compensaci&#243;n Familiar dispuestos en Ley 590 de 2000 y el Decreto 525 de 2009. Esta clase de aportante no puede ser utilizada por el tipo de aportante, quienes en este caso deber&#225;n utilizar la clase de aportante.</p>
  <p align="justify"><strong>Las empresas beneficiarias del art&#237;culo 5 </em>de la Ley 1429 de 2010</strong>, realizar&#225;n el registro como Clase de Aportante  teniendo en cuenta las siguientes condiciones:</p>
<p align="justify">1. El aportante deber&#225; suministrar al Operador, la informaci&#243;n regular requerida por la Planilla Integrada de Liquidaci&#243;n de Aportes - PILA.</p>
  <p align="justify">2. El aportante deber&#225; registrase como Tipo Aportante 1, definido en el campo 30 del art&#237;culo 3 de la Resoluci&#243;n 1747 de 2008, modificado por el art&#237;culo 1 de la Resoluci&#243;n 1004 de 2010.</p>
  <p align="justify">3. El Operador de Informaci&#243;n deber&#225; verificar, consultando la informaci&#243;n que suministre el Ministerio de la Protecci&#243;n Social, si la empresa se encuentra en el listado de Aportantes beneficiarios del art&#237;culo 5 de la Ley 1429 de 2010.</p>
  <p align="justify">4. En caso de que el resultado de la verificaci&#243;n de que trata el numeral anterior sea positivo, el Operador de Informaci&#243;n deber&#225; registrar la informaci&#243;n en su base de datos, en caso contrario, emitir&#225; un aviso informando dicha situaci&#243;n y la causa que la gener&#243;.</p>
<strong>Independiente:</strong> Esta clase de aportante debe ser utilizada si el aportante es un independiente y los cotizantes por los cuales hace aportes son 2, 41, 43 o hace aportes por s&#237; mismo con tipo de cotizante 3 &#243; 42, en caso contrario el aportante deber&#225; utilizar la clase aportante A o B, seg&#250;n le corresponda. </li>
</ul>
  <ul>
  <li><strong>36.</strong> <strong>Tipo Aportante:</strong>Contiene el listado de los distintos tipos de aportantes que son (Empleador, Independiente, Entidades o Universidades P&#250;blicas con Régimen  Especial en Salud, Agremiaciones o Asociaciones, Cooperativas y Precoperativas de Trabajo Asociado, Misiones Diplom&#225;ticas, Consulares o de Organismos Multilaterales  No Sometidos a la Legislaci&#243;n Colombiana, Organizaciones Administradoras del Programa de Hogares de Bienestar  Familiar y Pagador de Aportes de los Concejales Municipales o Distritales. 
  </li>
  <li><strong>37.</strong> <strong>Observaci&oacute;n:</strong> Aporte que quiera agregar a la afiliaci&oacute;n.</li>
  <li><strong>38.</strong> <strong>Guardar</strong><img src="../../imagenes/menu/grabar.png" width="16" height="16" />: Afiliaci&oacute;n almacenada a la base de datos. </li>
  </ul>
<ul>
<span style="font-size: 12px; font-family: Geneva, Arial, Helvetica, sans-serif;"><strong>NOTA:</strong> Si el usuario no alcanz&oacute; a terminar el formulario por cualquier raz&oacute;n  el aplicativo vuelve y muestra el formulario que qued&oacute; incompleto. </span>
<p class="negrita Estilo1"><strong>Procedimiento: </strong></p>
<li class="Estilo1"><strong>Primero:</strong> Inicie el proceso de empresa Nueva haciendo clic en el bot&oacute;n <strong>Nuevo</strong> <img src="../../imagenes/menu/nuevo.png" width="16" height="16">. Trae el No.de Radicaci&oacute;n, la fecha y el NIT de la empresa del primer formulario de empresas pendientes para guardar, es decir, los formularios se guardan por el orden que fueron recepcionados.</li>
<li class="Estilo1"><strong>Segundo:</strong> Comience seleccionando el sector, la clase de sociedad y el tipo de documento. </li>
<li class="Estilo1"><strong>Tercero:</strong> Ingrese los datos en: Raz&oacute;n Social, Nombre Comercial y Direcci&oacute;n. Teniendo en cuenta que en el campo que le corresponde a direcci&oacute;n muestra una ventana en la que tiene que rellenar los campos de acuerdo a como se le indica y verificando esa informaci&oacute;n en la barra para luego si pulsar clic en el bot&oacute;n crear direcci&oacute;n. </li>
<li class="Estilo1"><strong>Cuarto:</strong> Seleccione el Departamento de donde es la empresa y luego seleccione la Ciudad donde esta la empresa. </li>
<li class="Estilo1"><strong>Quinto:</strong> Ahora ingrese los datos en Tel&eacute;fono, Fax, URL, EMAIL de la empresa ,luego, C. C. Representante Legal, los datos personales del Representante Legal y los datos personales del Jefe de Personal. </li>
<li class="Estilo1"><strong>Sexto:</strong>Seleccione si la empresa es:<strong> </strong>Contratista,la actividad econ&#243;mica, el c&#243;digo CIIU, la  seccional donde esta realizando el ingreso, el &#237;ndice de aportes, la fecha de  la afiliaci&#243;n, la fecha de constituci&#243;n, el estado de la empresa, la clase  aportante y el tipo de aportante.</li>
<li class="Estilo1"><strong>S&eacute;ptimo:</strong> Por &uacute;ltimo muestre el usuario y realice la observaci&oacute;n si la tiene. Despu&eacute;s de realizar todo el procedimiento pulse clic en el icono <strong>Guardar</strong><img src="../../imagenes/menu/grabar.png" width="16" height="16">. La nueva empresa ha sido almacenada en la base de datos. </li>
</ul>
</body>