<?php
/* autor:       orlando puentes
 * fecha:       06/10/2010
 * objetivo:     
 */
?>

<style type="text/css">
<!--
.Estilo1 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.Estilo5 {font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
-->
</style>
<body background="../../imagenes/FondoGeneral.png">
<title>Actualizar Datos</title>
<p class="Estilo5 Estilo1">Fecha &uacute;ltima modificaci&oacute;n: <strong>Diciembre 29 de 2011</strong></p>
<p class="Estilo1">&nbsp;</p>
<p class="Estilo1"><strong>Formulario</strong>:&nbsp;ActualizarDatos.php<br />
    <strong>Men&uacute;</strong>:&nbsp;Actualizar Datos <br />
    <strong>Objetivo:</strong>&nbsp;Actualizar la informaci&oacute;n de la empresa almacenada en la base de datos. </p>
<ul style="margin-left:0; font-family: Geneva, Arial, Helvetica, sans-serif; font-size: 12px;">
  <p align="left"><strong>Elementos del formulario:</strong> </p>
  <li><strong>Actualizar</strong>&nbsp;<img src="../../imagenes/menu/modificar.png" width="16" height="16">: 
    Almacena las modificaciones al registro de manera permanente en la base de 
    datos.</li>
  <li><strong>Imprimir</strong>&nbsp;<img src="../../imagenes/menu/imprimir.png" alt="" width="16" height="16" />: 
    Genera el formulario con todos los registros.</li>
  <li><strong>Limpiar Campos</strong>&nbsp;<img src="../../imagenes/menu/refrescar.png" alt="" width="16" height="16" />: 
    Limpia los campos del formulario.</li>
  <li><strong>Manual</strong>&nbsp;<img src="../../imagenes/menu/informacion.png" alt="" width="20" height="20" />: 
  Muestra toda la informaci&oacute;n relacionada al funcionamiento del aplicativo.</li>
  <li><strong>Notas sobre el Formulario</strong>&nbsp;<img src="../../imagenes/menu/notas.png" alt="" width="16" height="16" />: 
    La persona que ingresa grabe los comentarios acerca de este formulario.</li>
  <li><strong>Campo Obligatorio</strong>&nbsp;<img src="../../imagenes/menu/obligado.png" alt="" width="12" height="12" />: 
    Los campos son obligatorios para llenarlos.</li>
</ul>
<p class="Estilo1"><strong>Campos:</strong></p>
	<ul>
	<li class="Estilo1"><strong>1. Nit a Buscar: </strong>N&uacute;mero de identificaci&oacute;n de la empresa que va a modificar. </li>
	
  <li class="Estilo1"><strong>2. Sucursal: </strong>Contiene el listado de las 
    sucursales de la empresa. </li>
	
  <li class="Estilo1"><strong>3. Sector: </strong>Contiene el listado del sector 
    al que pertenece la empresa. Obligatorio. </li>
	
  <li class="Estilo1"><strong>4. Clase de Sociedad: </strong>Contiene el listado 
    de la clase de sociedad a la que pertenecen las empresas. Obligatorio.</li>
	<li class="Estilo1"><strong>5. Nit: </strong>N&uacute;mero de identificaci&oacute;n de la empresa. Obligatorio. </li>
	
  <li class="Estilo1"><strong>6. Tipo de Documento: </strong>Contiene el listado 
    de los tipo de documento de la empresa. Obligatorio. </li>
	<li class="Estilo1"><strong>7. Raz&oacute;n Social: </strong>Nombre de la empresa. Obligatorio. </li>
	<li class="Estilo1"><strong>8. Nombre Comercial: </strong>Nombre comercial de 
	  la empresa. Obligatorio. </li>
	<li class="Estilo1"><strong>9. Departamento: </strong>Contiene el listado de 
	  los departamentos de Colombia. Obligatorio. </li>
    <li class="Estilo1"><strong>10. Ciudad: </strong>Contiene el listado de las 
      ciudades de Colombia. Obligatorio. </li>
    <li class="Estilo1"><strong>11. Direcci&oacute;n: </strong>Muestra la siguiente ventana. Campo Obligatorio. </li>
	</ul>
<p align="center"><img src="../../imagenes/help/EMPRESAS/direccion.JPG" width="655" height="455"></p>
	
	
		<ul style="margin-left:0; font-family: Geneva, Arial, Helvetica, sans-serif; font-size: 12px;">
		  <li><em>1. <strong>Seleccione:</strong> Cuadro de opciones que muestra si la 
			direcci&oacute;n es (Calle, Carrera, Avenida, Transversal y Diagonal).</em></li>
		  <li><em>2. Cuadro donde se digita el n&uacute;mero de la direcci&oacute;n. </em></li>
		  <li><em>3. Cuadro de opciones que muestra las letras que identifican la direcci&oacute;n. 
			Estas van desde la letra (A hasta K). </em></li>
		  <li><em>4. Cuadro que ingresa <strong>BIS </strong>si la direcci&oacute;n la 
			contiene. </em></li>
		  <li><em>5. Cuadro de opciones que muestra las opciones (west y sur). Estas s&oacute;lo 
			se colocan si la direcci&oacute;n la solicita. </em></li>
		  <li><em>6. <strong>N&uacute;mero:</strong> Ingresa el primer n&uacute;mero de 
			la placa de la casa.</em></li>
		  <li><em>7. Cuadro de opciones que muestra las letras que van desde la letra 
			(A hasta K) y estas se utilizan si la direcci&oacute;n la requiere. </em></li>
		  <li><em>8. Cuadro con opci&oacute;n <strong>BIS: </strong>S&oacute;lo si la 
			direcci&oacute;n la necesita. </em></li>
		  <li><em>9. Cuadro donde se ingresa el segundo n&uacute;mero de la placa de la 
			casa. </em></li>
		  <li><em>10. Cuadro de opciones que muestra las opciones (west y sur). Estas 
			s&oacute;lo se colocan si la direcci&oacute;n la solicita. </em></li>
		  <li><em>11. Los cuadros siguientes s&oacute;lo se ocupan si la direcci&oacute;n 
			que estamos ingresando la solicita. </em></li>
		</ul>
				<ul>
				<p class="Estilo5"><em><span class="Estilo3"><strong>Ejemplo:</strong></span></em></p>
				<p align="center"><img src="../../imagenes/help/EMPRESAS/datosadicionales.JPG" width="482" height="81"></p>
				<p><em>12. Barra que muestra la direcci&oacute;n que hemos digitado. De forma 
				  inactiva.</em></p>
				<p align="center"><img src="../../imagenes/help/EMPRESAS/barradireccion.JPG" width="441" height="22"></p>
				</ul>
					<ul style="margin-left:0; font-family: Geneva, Arial, Helvetica, sans-serif; font-size: 12px;">
					  <li><em>13. <strong>Bot&oacute;n Cancelar:</strong> Se sale de la ventana sin 
						guardar los cambios. </em></li>
					  <li><em>14. <strong>Bot&oacute;n Crear Direcci&oacute;n:</strong> Guarda toda 
						la informaci&oacute;n que se ha digitado en la ventana de direcciones. </em></li>
					</ul>
								<ul>
								
  <li class="Estilo1"><strong>12. Tel&eacute;fono: </strong>N&uacute;mero de tel&eacute;fono de la empresa. Obligatorio. </li>
								<li class="Estilo1"><strong>13. Fax: </strong>N&uacute;mero de fax de la empresa. </li>
								<li class="Estilo1"><strong>14. URL: </strong>Nombre de la p&aacute;gina web de la empresa. </li>
								<li class="Estilo1"><strong>15. Email: </strong>Correo electr&oacute;nico de la 
								  empresa o del representante legal. </li>
								<li class="Estilo1"><strong>16. CC. Representante Legal: </strong>N&uacute;mero de identificaci&oacute;n del Representante legal de la empresa. Obligatorio. Cuando el registro no se encuentra almacenado en la base de datos se despliega la siguiente ventana donde debe digitar los siguientes nombres:								
								  <div align="center"><img src="../../imagenes/help/EMPRESAS/datosbasicos.JPG" width="654" height="230"></div>
								</li>
								</ul>
								<ul>
								  <li class="Estilo1"><strong>17. Primer Nombre: </strong>Primer nombre del representante legal.  </li>
								  <li class="Estilo1"><strong>18. Segundo Nombre: </strong>Segundo nombre del representante legal. </li>
								  <li class="Estilo1"><strong>19. Primer Apellido: </strong>Primer apellido del representante legal. </li>
								  <li class="Estilo1"><strong>20. Segundo Apellido: </strong>Segundo apellido del representante legal.</li>
								  <li class="Estilo1"><strong>21. CC. Contacto Administrativo:</strong> N&uacute;mero de identificaci&oacute;n del jefe de personal. Cuando el registro no se encuentra almacenado en la base de datos se despliega la siguiente ventana donde debe digitar los siguientes nombres: 
								    <div align="center"><img src="../../imagenes/help/EMPRESAS/datosbasicos.JPG" width="654" height="230"></div>
								  </li>
								  <li class="Estilo1"><strong>22. Primer Nombre:</strong> Primer nombre del jefe de personal. </li>
								  <li class="Estilo1"><strong>23. Segundo Nombre: </strong>Segundo nombre del jefe de personal. </li>
								  <li class="Estilo1"><strong>24. Primer Apellido: </strong>Primer apellido del jefe de personal. </li>
								  <li class="Estilo1"><strong>25. Segundo Apellido: </strong>Segundo apellido del jefe de personal. </li>
								  
								  <li class="Estilo1"><strong>26. Contratista: </strong>Contiene S&iacute; o No. 
							      Obligatorio. </li>
								  
								  <li><strong>27.</strong> <strong>Actividad Econ&#243;mica:</strong> Es la actividad a la que se dedica la empresa. Obligado.</li>
                                  <li><strong>28. C&#243;digo CIIU:</strong> Tiene por objeto satisfacer las necesidades de los que buscan datos clasificados referentes a categor&#237;a comparables internacionalmente de tipos espec&#237;ficos de actividades econ&#243;micas. Obligado.</li>
                                  <li><strong>29. Seccional:</strong>Contiene el listado de las seccionales de 
                                    Comfamiliar Huila. Obligatorio. </li>
                                  <li><strong>30.</strong> <strong>&Iacute;ndice de Aporte:</strong> Contiene el listado de los 
                                    porcentajes de aportes de la empresa. Obligado </li>
                                  <li><strong>31. Fecha de Afiliaci&oacute;n:</strong> Presenta la fecha que se 
                                    realiz&oacute; la afiliaci&oacute;n.</li>
                                  <li><strong>32. Fecha de Constituci&#243;n:</strong> Si la empresa tiene actividad econ&#243;mica comercial, se  debe registrar la fecha de constituci&#243;n de la empresa as&#237;: Para personas  Jur&#237;dicas la fecha que aparece registrada ante la C&#225;mara de Comercio como raz&#243;n  social. En el caso de las personas naturales corresponde a la fecha en que fue  matriculado el establecimiento ante C&#225;mara de Comercio. Obligado.</li>
                                  <li><strong>33.</strong> <strong>Asesor:</strong> Contiene el listado de los asesores. Obligado.</li>
                                  <li><strong>34. Estado:</strong>Activa o Inactiva. Obligatorio </li>
                                  <li class="Estilo1"><strong>35. Usuario:</strong> Muestra el usuario que realiz&#243; la grabaci&#243;n de la empresa. </li>
                                  <li class="Estilo1"><strong>36. Histor&#237;co de Observaciones:</strong> Muestra el listado de observaciones que se le hayan realizado a esa empresa. </li>
</ul>
<p class="Estilo1"><strong>Procedimientos: </strong></p>
<ul>
<li align="justify" class="Estilo1"><strong>Primero:</strong> Ingrese el nit de 
  la empresa de la cual va a realizar la actualizaci&oacute;n de datos. </li>
<li align="justify" class="Estilo1"><strong>Segundo:</strong> Muestra la sucursal que debe seleccionar para poder realizar la actualizaci&oacute;n de los datos. </li>
<li align="justify" class="Estilo1"><strong>Tercero:</strong> Seleccionada la sucursal el muestra los datos del sector, clase de sociedad, el nit, el tipo de documento, la raz&oacute;n social, el nombre comercial, la direcci&oacute;n, el departamento, la ciudad donde se encuentra la empresa, el n&uacute;mero telef&oacute;nico, la CC. del Representante Legal, los datos personales del Representante Legal, la selecci&oacute;n de contratista, la actividad econ&#243;mica,el c&#243;digo CIIU, el &Iacute;ndice de aportes, la fecha de afiliaci&#243;n, la fecha de constituci&#243;n, el asesor,  el estado, el usuario, y el hist&#243;rico de observaciones. </li>
</ul>
<ul style="margin-left:0">
  <div align="justify" class="Estilo1"></div>
</ul>
</body>