<?php
/* autor:       Lucy Tatiana Polanco Aya
 * fecha:       12/10/2010
 * objetivo:    
 */
?>

<style type="text/css">
<!--
.Estilo1 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.Estilo3 {font-family: Geneva, Arial, Helvetica, sans-serif}
-->
</style>

<body background="../../imagenes/FondoGeneral.png">
<title>::Ayuda Distribucion Aportes::</title>
<span class="Estilo1">Fecha &uacute;ltima modificaci&oacute;n: <strong>Octubre 12 de 2011</strong><br />
	<br />
<strong>Formulario</strong>:&nbsp;distribucion.php<br />
<strong>Men&uacute;</strong>:&nbsp; Empresa<br />
<strong>Objetivo:</strong>&nbsp;Almacenar en la base de datos Aportes la distribuci&oacute;n de aportes de las empresas. <br />
	</span>

<ul style="margin-left:0; font-family: Geneva, Arial, Helvetica, sans-serif; font-size: 12px;">
  <p align="left"><strong>Elementos del formulario:</strong> </p>
  <li><strong>Nuevo&nbsp;</strong><img src="../../imagenes/menu/nuevo.png" alt="" width="16" height="16" />: 
    Prepara el formulario para registrar la informaci&oacute;n de la nueva empresa.</li>
  <li><strong>Guardar<img src="../../imagenes/menu/grabar.png" alt="" width="16" height="16" />:</strong>Almacena 
    la informaci&oacute;n de manera permanente en la base de datos.</li>
  <li><strong>Limpiar Campos</strong>&nbsp;<img src="../../imagenes/menu/refrescar.png" alt="" width="16" height="16" />: 
    Limpia los campos del formulario.</li>
  <li><strong>Manual</strong>&nbsp;<img src="../../imagenes/menu/informacion.png" alt="" width="20" height="20" />: 
    Muestra toda la informaci&oacute;n relacionada al funcionamiento del aplicativo.</li>
  <li><strong>Notas sobre el Formulario</strong>&nbsp;<img src="../../imagenes/menu/notas.png" alt="" width="16" height="16" />: 
    La persona que ingrese grabe los comentarios acerca de este formulario.</li>
</ul>
<ul style="margin-left:0; font-size: 12px; font-family: Geneva, Arial, Helvetica, sans-serif;">
  <p align="justify"><strong>Campos:</strong></p>
<li><strong>1</strong>. <strong>Comprobante:</strong> Contiene el listado de Tipo de comprobante.</li>  
<li><strong>2</strong>. <strong>Número: </strong>N&uacute;mero del comprobante que va a ingresar. </li>
  <li><strong>3</strong>. <strong>Nit-Raz&oacute;n Social:</strong> Presenta el n&uacute;mero de identificaci&oacute;n 
  de la empresa y el nombre completo de la misma. Obligado.</li>
  <li><strong>4</strong>.<strong> Valor Aportes: </strong>Valor por el cual se realiza el comprobante.</li>
<li><strong>5</strong>.<strong> Indice de Aportes: </strong>Valor porcentual del aporte.</li>
  <li><strong>6</strong>. <strong>N&oacute;mina:</strong> Valor total que cancela la empresa por sus empleados.</li>
<li><strong>7. Descripci&oacute;n:</strong> Muestra el concepto por el que se hizo </li>
<li><strong>8. Notas:</strong> Muestra el concepto por el cual se realiza el aporte.</li>
<li><strong>9. N&uacute;meros de Periodo: </strong>Ingrese el n&uacute;mero de periodos por el cual se realiza el aporte. </li>
<li><strong>10. Perido:</strong> Ingrese el periodo del aporte.</li>
<li><strong>11. N&oacute;mina:</strong> Valor que se cancel&oacute; en el periodo registrado.</li>
<li><strong>12. Aporte:</strong> Valor del aporte que cancelaron en ese periodo.</li>
<li><strong>13. Ajuste: </strong>Cuadro de selecci&oacute;n que permite realizar ajustes a la distribuci&oacute;n de los aportes.</li>
</ul>
<ul>
  <p><span style="font-size: 12px; font-family: Geneva, Arial, Helvetica, sans-serif;"><strong>NOTA:</strong> Si el usuario no alcanz&oacute; a terminar el formulario por cualquier raz&oacute;n  el aplicativo vuelve y muestra el formulario que qued&oacute; incompleto.</span></p>
  <p><strong>Procedimiento: </strong>
  </p>
  <li class="Estilo1"><strong>Primero:</strong> Inicie el proceso Distribuci&oacute;n de Aportes haciendo clic en el bot&oacute;n <strong>Nuevo</strong> <img src="../../imagenes/menu/nuevo.png" width="16" height="16">. Seleccione el comprobante e ingrese el n&uacute;mero del comprobante.</li>
  <li class="Estilo1"><strong>Segundo:</strong> Muestra los datos en los campos Nit- Raz&oacute;n Social, valor aportes, la fecha, el valor de la n&oacute;mina, la descripci&oacute;n y las notas.</li>
  <li class="Estilo1"><strong>Tercero:</strong> Seleccione el indice de aportes e ingrese el n&uacute;mero de periodos. </li>
  <img src="../../imagenes/help/EMPRESAS/registroaportes.JPG" width="1201" height="269">
  <li class="Estilo1"><strong>Cuarto:</strong> En la parte inferior se despliega una tabla con la cantidad de filas que ingreso en el cuadro de periodos. Pues en cada fila debe registrar el periodo.</li>
  <li class="Estilo1"><img src="../../imagenes/help/EMPRESAS/periodos.JPG" width="1203" height="346"></li>
  <li class="Estilo1"><strong>Quinto:</strong> Clic en el bot&oacute;n Guardar<img src="../../imagenes/menu/grabar.png" width="16" height="16">. </li>
</ul>
</body>