form.cmxform {
color:#333333;
font-size:1em;
width:370px;
}
form.cmxform legend {
padding-left:0;
}
form.cmxform legend, form.cmxform label {
color:#333333;
}
form.cmxform fieldset {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#F8FDEF url(cmxform-fieldset.gif) repeat-x scroll left bottom;
border-color:#C9DCA6 -moz-use-text-color -moz-use-text-color;
border-style:solid none none;
border-width:1px medium medium;
}
form.cmxform fieldset fieldset {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent none repeat scroll 0 0;
}
form.cmxform fieldset p, form.cmxform fieldset fieldset {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(cmxform-divider.gif) repeat-x scroll left bottom;
padding:5px 10px 7px;
}
form.cmxform label.error, label.error {
color:red;
font-style:italic;
}
div.error {
display:none;
}
input {
border:1px solid black;
}
input.checkbox {
border:medium none;
}
input:focus {
border:1px dotted black;
}
input.error {
border:1px dotted red;
}
form.cmxform .gray * {
color:gray;
}
.cmxform fieldset p.error label { color: red; }
div.container {
	background-color: #eee;
	border: 1px solid red;
	margin: 5px;
	padding: 5px;
}
div.container ol li {
	list-style-type: disc;
	margin-left: 20px;
}
div.container { display: none }
.container label.error {
	display: inline;
}
form.cmxform { width: 30em; }
form.cmxform label.error {
	display: block;
	margin-left: 1em;
	width: auto;
}