@charset "iso-8859-1";
/* CSS Document */
table
{
	border: 0;
	color:#FFF
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
}

a:link{color:#000; text-decoration:none}
a:visited{color:#000; text-decoration:none}
a:hover{color:#999; text-decoration:none}
a:active{color:#000; text-decoration:none} 