body{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	}
a{
	text-decoration:none;
}
img{
	border:none;
}

small{
	font-size:9px;
}

form{
	border:2px solid #C0C0C0;
	background-color:#F2F2F2;
	width:500px;
	margin:auto;
	margin-bottom:20px;
}

form p{
	margin:auto;
	width:450px;
	margin-top:5px;
	margin-bottom:3px;
}
form input{
	border:1px solid #CCCCCC;
	padding:3px;
}

.tablero {
	BORDER-RIGHT: #9faec4 1px solid; 
	BORDER-TOP: #9faec4 1px solid; 
	COLOR: #000000; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
	FONT-SIZE: 8px
}
.tablero TD {
	BACKGROUND-COLOR: #f2f2f2; 
	BORDER-BOTTOM: #9faec4 1px solid; 
	BORDER-LEFT: #9faec4 1px solid; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
	FONT-SIZE: 9px
}
.tablero TH {
	BACKGROUND-COLOR: #dfe3ea; COLOR: #566c7c; 
	FONT-FAMILY: Arial, Helvetica, sans-serif; 
	FONT-SIZE: 10px; 
	FONT-WEIGHT: bold; 
	PADDING-BOTTOM: 0px; 
	PADDING-LEFT: 0px; 
	PADDING-RIGHT: 0px; 
	PADDING-TOP: 0px
}

.tablero2 {
	BORDER-RIGHT: #9faec4 1px solid; 
	BORDER-TOP: #9faec4 1px solid; 
	COLOR: #000000; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
	FONT-SIZE: 10px
}
.tablero2 TD {
	BACKGROUND-COLOR: #f2f2f2; 
	BORDER-BOTTOM: #9faec4 1px solid; 
	BORDER-LEFT: #9faec4 1px solid; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
	FONT-SIZE: 12px;
	text-align:left
}
.tablero2 TH {
	BACKGROUND-COLOR: #dfe3ea; COLOR: #566c7c; 
	FONT-FAMILY: Arial, Helvetica, sans-serif; 
	FONT-SIZE: 12px; 
	FONT-WEIGHT: bold; 
	PADDING-BOTTOM: 0px; 
	PADDING-LEFT: 0px; 
	PADDING-RIGHT: 0px; 
	PADDING-TOP: 0px;
	text-align:left
}