input.editable, input.noEditable, select.noEditable{
	color:#669800;
	/*background: none repeat scroll 0 0 #ECFFC8;*/
	background: transparent;
	font-family:"Lucida Sans Unicode","Lucida Grande",Sans-Serif;
	font-size:12px;
	text-align:left;
}

input.editable, select.editable{
	border: 1px solid #99CA35;
}

input.noEditable, select.noEditable{
	border: none;
	cursor: pointer;
}

input.noEditableHover{
	background: #E2FFAD;
	color: #669800;
}