/*
.sortable {width:980px; border-left:1px solid #c6d5e1;border-bottom:none;}
.sortable th {background:url(../../imagenes/imagesSorter/header-bg.gif); text-align:left; color:#cfdce7; border:1px solid #fff; border-right:none}
.sortable th h3 {font-size:10px; padding:6px 8px 8px}
.sortable td {padding:4px 6px 6px; border-bottom:1px solid #c6d5e1; border-right:1px solid #c6d5e1; font-size:10px;}
.sortable .head h3 {background:url(../../imagenes/imagesSorter/sort.gif) 7px center no-repeat; cursor:pointer; padding-left:18px}
.sortable .desc, .sortable .asc {background:url(../../imagenes/imagesSorter/header-selected-bg.gif)}
.sortable .desc h3 {background:url(../../imagenes/imagesSorter/desc.gif) 7px center no-repeat; cursor:pointer; padding-left:18px}
.sortable .asc h3 {background:url(../../imagenes/imagesSorter/asc.gif) 7px  center no-repeat; cursor:pointer; padding-left:18px}
.sortable .head:hover, .sortable .desc:hover, .sortable .asc:hover {color:#fff}
.sortable .evenrow td {background:#D3F3B4}
.sortable .oddrow td {background:#ffffff}
.sortable td.evenselected {background:#9BFF9B}
.sortable td.oddselected {background:#F3F3F3}

#controls { margin:0 auto; height:20px}
#perpage {float:left; width:200px}
#perpage select {float:left; font-size:11px}
#perpage label {float:left; margin:2px 0 0 5px}
#navigation {float:left; width:580px; text-align:center}
#navigation img {cursor:pointer}
#text {float:left; /*width:200px; text-align:right; margin-top:2px}
*/
.sortable {border:1px solid #eaeaea;margin:10px auto}
.sortable th {background:#f3f3f3; text-align:left; color:#666; border:1px solid #eaeaea; border-right:none; padding:4px}
.sortable th h3 {padding:0 18px; margin:0; font:11px Verdana, Geneva, sans-serif}
.sortable td {padding:6px 6px 6px 10px;border:1px solid #eaeaea; font-size:10px; text-align:left}
.sortable .head h3 {background:url(../imagenes/imagesSorter/sort.gif) 7px center no-repeat; cursor:pointer; padding:0 18x}
.sortable .desc h3 {background:url(../imagenes/imagesSorter/desc.gif) 7px center no-repeat; cursor:pointer; padding:0 18px}
.sortable .asc h3 {background:url(../imagenes/imagesSorter/asc.gif) 7px  center no-repeat; cursor:pointer; padding:0 18px}
.sortable .head:hover, .sortable .desc:hover, .sortable .asc:hover {color:#000}
.sortable .evenrow td {background:#ecf2f6}
.sortable .oddrow td {background:#fff}
.sortable td.evenselected {background:#F8F8F8}
.sortable td.oddselected {background:#ffffff}

#controls { margin:0 auto; height:20px; /*width:800px;*/ overflow:hidden;}
#perpage {float:left; width:200px; margin-left:40px; }
#perpage select {float:left; font-size:11px}
#perpage label {float:left; margin:2px 0 0 5px; font-size:10px}
#navigation {float:left;/* width:600px;*/ text-align:center}
#navigation img {cursor:pointer}
#text {float:left; width:200px; text-align:left; margin-top:2px; font-size:10px}
.pager{ margin:10px;}