
/* CSS Document */

/* ------------- top.css --------- */ 

p, li {
	/*color:#505050;*/
	font-size:12px;
	/*line-height:16px;*/
	text-align:justify;
	/*margin-bottom:20px;*/
	}
/*

body {
width: 1000px;
margin: 25px 0 0 0;
padding: 0;
font-family: verdana, arial, sans-serif;
}

img {border:0px;}

*/
.contenedor {
width: 650px;
margin: 0 auto;
}

	
.contenido_ini {
width: 580px;
padding:0 20px 0 0;
margin:0;
}

.contenido_ini h1{
font-size: 13px;
color: #345689;
margin: 0px;
}

.contenido_ini h2 {
font-size:16px;
text-decoration:none;
}
.contenido_ini p a{
color:#000000;
}
.contenido_ini p a:hover{
text-decoration: underline;

}
