
.arriba_iz{
	background-image:url(../imagenes/tabla/arriba_central2.gif);
	height:29px;
	width:13px
}
.arriba_ce{
	background-image:url(../imagenes/tabla/arriba_central2.gif);
}
.arriba_de{
	background-image:url(../imagenes/tabla/derecha2.gif);
	background-position:right;
	width:13px
}
.cuerpo_iz{background-image:url(../imagenes/tabla/izquierda2.jpg)}
.cuerpo_ce{background-image:url(../imagenes/tabla/centro.gif)}
.cuerpo_de{background-image:url(../imagenes/tabla/derecha.gif); background-position:right}

.abajo_iz{background-image:url(../imagenes/tabla/abajo_izq2.gif); height:38px}
.abajo_ce{background-image:url(../imagenes/tabla/abajo_central.gif)}
.abajo_de{background-image:url(../imagenes/tabla/abajo_der.gif); /*background-position:right*/}
.error{color:#F00; font-size:12px; font-weight:bold}