.galleria-overlay{background:#000;opacity:.9;width:100%;height:100%;position:fixed;top:0;left:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";filter: alpha(opacity=80);}
.galleria-popup,
.galleria-container{width:100%;height:100%;position:fixed;top:0;left:0;overflow:hidden;}
.galleria-stage{position:absolute;top:20px;bottom:40px;left:50px;right:50px;overflow:visible;}
.galleria-thumbnails{overflow:hidden;}
.galleria-thumbnails .galleria-image{width:120px;height:180px;float:left;cursor:pointer;margin: 0 3px 3px 0;border:1px solid #969696}
.galleria-images img{border:10px solid #fff;-moz-border-radius: 3px;}
.galleria-image-nav{height:300px;position:absolute;top:50%;margin-top:-150px;z-index:1;width:100%;display:none;}
.galleria-image-nav-left,
.galleria-image-nav-right{cursor:pointer;width:50px;height:300px;left:-45px;background:url(p.png) no-repeat 50% 50%;position:absolute;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";filter: alpha(opacity=80);}
.galleria-image-nav-right{right:-45px;left:auto;background-image:url(n.png);}
.galleria-square{width:400px;height:400px;position:absolute;background:#fff;}
.galleria-info{position:absolute;padding:10px;z-index:2;color:#fff;margin-top:10px;text-align:center;left:10px;right:10px;}
.galleria-info {font:12px/1.4 arial,sans-serif;text-align:center;}
.galleria-info-description{margin-right:8px;font-weight:bold;}
.galleria-counter{opacity:.4;position:absolute;top:-10px;left:-30px;z-index:2;color:#bbb;font:12px/1.4 arial,sans-serif;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";filter: alpha(opacity=40);}
.galleria-counter span{color:#fff;}
.galleria-info-text *{display:inline;}
.galleria-loader{position:absolute;height:48px;width:48px;background:#fff url(loader.gif) no-repeat 50% 50%;top:50%;left:50%;margin-left:-24px;margin-top:-24px;opacity:.6;z-index:2;display:none;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";filter: alpha(opacity=60);}
.galleria-close{position:absolute;top:10px;right:10px;color:#fff;font:12px/1.4 arial,sans-serif;z-index:2;text-indent:-10000px;width:20px;height:20px;background:url(close.png) no-repeat;opacity:.5;cursor:pointer;}
.galleria-close:hover{opacity:1;}
.galleria-square{-moz-border-radius: 3px;}