/************************************************************************************************
Ckm!
Web, Apps & Multimedia
www.ckm.co
2011
************************************************************************************************/

body{
	margin: 20px 0;
	font: 76% Arial, Helvetica, sans-serif;
	background-color: #FFF;
}

h2{
	margin: 5px 0;
	font: normal auto Verdana, Geneva, sans-serif;
	color: #354D0B ;
}

table{ background: #FFF; }

table.borde{
	width: auto;
	border-collapse:collapse;
	margin-bottom: 15px;
/*	background: #C3D3B9;*/
	border-left: 1px solid #CCC;
	border-top: 1px solid #CCC;
}
table.borde th{
	padding: 8px 2px;
	text-align: center;
	color: #FFF;
	font: normal 100% Verdana, Geneva, sans-serif;
	background: #354D0B;
	border-right: 1px solid #CCC;
	border-bottom: 2px solid #CCC;
}
table.borde td{
	padding: 6px 3px;
	border-bottom: 1px solid #CCC;
	border-right: 1px solid #CCC;
}

table.borde table td{ border: none; }
