	/*body {
		background-color: #dedede;
		font-family: arial
	}
	
	#nav {
		list-style: none;
		margin: 0px;
		padding: 0px;
	}
	
	#nav li {
		float: left;
		margin-right: 20px;
		font-size: 14px;
		font-weight: bold;
	}
	
	#nav li a {
		color: #333333;
		text-decoration: none
	}
	
	#nav li a:hover {
		color: #006699;
		text-decoration: none
	}*/
	
	#noti {
		position: relative;
		z-index:3;
	}
	
	.noti-container {
		background-color: #fff;
		border: 1px solid rgba(100, 100, 100, .4);
		-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
		overflow: visible;
		position: absolute;
		top: 30px;
		margin-left: -190px;
		width: 400px;
		z-index: -1;
		display: none;
	}
	
	.noti-container:before {
		content: '';
		display: block;
		position: absolute;
		width: 0;
		height: 0;
		color: transparent;
		border: 10px solid black;
		border-color: transparent transparent white;
		margin-top: -20px;
		margin-left: 188px;
	}
	
	.noti-title {
		z-index: 1000;
		font-weight: bold;
		padding: 8px;
		font-size: 13px;
		background-color: #ffffff;
		width: 384px;
		border-bottom: 1px solid #dddddd;
		color: #000000;
	}
	
	.noti-body {
		background: #e9eaed;
		padding: 33px 0px 0px 0px !important;
		height: 300px;
		overflow-y: scroll;
	}
	
	.noti-footer {
		background-color: #FFFFFF;
		text-align: center;
		font-weight: bold;
		padding: 8px;
		font-size: 12px;
		border-top: 1px solid #dddddd;
		color: #000000;
	
	}
	
	.noti-footer a{
		color: #000000;
	}
	
	.noti-count {
		padding: 3px 7px 3px 7px;
		background: #D65521;
		color: #ffffff;	
		font-weight: bold;
		margin-left: 12px;
		border-radius: 2px;
		position: absolute;
		margin-top: -11px;
		font-size: 11px;
	
		animation-name: parpadeo;
		animation-duration: 3s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		
		-webkit-animation-name:parpadeo;
		-webkit-animation-duration: 3s;
		-webkit-animation-timing-function: linear;
		-webkit-animation-iteration-count: infinite;
	}
	
	@-moz-keyframes parpadeo{
	  0% { opacity: 1.0; }
	  50% { opacity: 0.0; }
	  100% { opacity: 1.0; }
	}
	
	@-webkit-keyframes parpadeo {  
	  0% { opacity: 1.0; }
	  50% { opacity: 0.0; }
	   100% { opacity: 1.0; }
	}
	
	@keyframes parpadeo {  
	  0% { opacity: 1.0; }
	   50% { opacity: 0.0; }
	  100% { opacity: 1.0; }
	}
	
	.noti-body-div{
		background: #FFFFFF;
		margin-left: 10px;
		margin-right: 10px;
		margin-bottom: 2px;
		border: 1px solid #ccc;
		cursor:pointer;
	}
	
	.noti-body-head{
		/*background: #00ff00;*/
		position: relative;
		color:#043745;
		margin-left: 2px;
		margin-right: 2px;
	}
	
	.noti-body-body{
		/*background: #00ffcc;*/
		position: relative;
		font-weight: normal;
		font-size: 12px;
		color: #6E6969;
		margin-left: 2px;
		margin-right: 2px;
	}
	
	.noti-body-footer{
		/*background: #ccff00;*/
		text-align:right;
		font-size: 10px;
		color: #6E6969;		
		margin-right: 2px;
	}
	